<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Net VR</title>
    <style>
      .header {
        display: flex;
        justify-content: center;
        color: blue;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div>
        <div class="header">
          <h1>New user wishes to join the influencer program!</h1>
        </div>
        <br />
        <br />
        <p>First Name : {{firstName}}</p>
        <br />
        <p>Last Name : {{lastName}}</p>
        <br />
        <p>Email : {{emailAddress}}</p>
        <br />
        <p>Platform Username : {{platformUsername}}</p>
        <br />
        <p>primary Category : {{primaryCategoryOfContent}}</p>
        <br />
        <p>Total Followers : {{totalFollowers}}</p>
        <br />
        <p>Streaming Channel : {{streamingChannel}}</p>
        <br />
        <p>twitter : {{twitter}}</p>
      </div>
    </div>
  </body>
</html>
