<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Net VR</title>
    <style>
      .header {
        display: flex;
        justify-content: center;
        color: blue;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div>
        <div class="header">
          <h1>New user wishes to contact us!</h1>
        </div>
        <br />
        <br />
        <p>First Name : {{firstName}}</p>
        <br />
        <p>Last Name : {{lastName}}</p>
        <br />
        <p>Email : {{email}}</p>
        <br />
        <p>Phone Number : {{phoneNumber}}</p>
        <br />
        <p>Message : {{message}}</p>
      </div>
    </div>
  </body>
</html>
